.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10 0 5 0;
}

.total-label {
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
}
.studytime-button {
    -fx-background-color: #17a2b8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 14;
    -fx-background-radius: 6;
}

.studytime-button:hover {
    -fx-background-color: #138496;
}

.refresh-button {
    -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 0, 2);
}
.delete-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
}

.add-button {
    -fx-background-color: linear-gradient(to bottom, #2ecc71, #27ae60); /* Xanh lá cây */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-background-radius: 6px;
    -fx-border-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0.3, 0, 2);
    -fx-cursor: hand;
}

.refresh-button:hover {
    -fx-background-color: #1f6ea5;
    -fx-cursor: hand;
}
.import-button{
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.table-view {
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-table-cell-border-color: #f0f0f0;
    -fx-padding: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.05), 3, 0.1, 0, 1);
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 13px;
    -fx-text-fill: #2c3e50;
}
